.btn-change-view {
    background-color: blue;
    padding         : 10px 20px;
    color           : white;
    border          : none;
    margin-bottom   : 20px;
    margin-top      : 20px;
}

.btn-class {
    text-align: center;
}